/* font */
.noto-serif {
  font-family: "Noto Serif", serif;
}
.inter {
  font-family: "Inter", sans-serif;
}

/* shared Styles */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    max-width: 1140px;
    margin: auto;
}
.section-title{
    font-weight: bold;
    font-size: 50px;
    line-height: 60px;
    margin-bottom: 15px;
}
.section-description{
    font-size: 22px;
    color: rgba(0, 0, 0, 0.5);
}
.text-orange{
    color: #E95A08;
}
.text-black{
    color: #252432;
    font-weight: 700px;
}
.btn-primary{
    background-color: #E95A08;
    color: #fff;
    border: none;
    font-weight: 500px;
    padding: 19px 80px;
    width: 100%;
    margin-top: 30px;
}
img{
    width: 100%;
    height: 100%;
}


/* Navbar */
.navbar{
  display: flex;  
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;
}
.navbar ul{
    display: flex;
    gap: 48px;
}
.navbar ul li{
    list-style: none;
}
.navbar ul a{
    text-decoration: none;
}

#shop,#about-us{
    color: #8987A1;
}
#cart{
    color: black;
}

/* banner */
.banner{
    display: flex;
    justify-content: space-between;
    align-items: end;
    padding-top: 96px;
}

/* Our Plants */

.plants-heading{
    text-align: center;
    margin-top: 120px;
    width: 100%;
    padding: 0 16px;

}
.plant-card-container{
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
}
.plant-card{
    text-align: center;
}
.plant-card-img{
    width: 100%;
}
.plant-card-info h4,p{
    font-size: 22px;
    color: #111111;
}
.plant-card-info p{
    padding: 25px 0 15px;
}


/* Plants Lover Section */

.plant-lover{
    margin-top: 200px;
    position: relative;
}
#trusted-badge{
    height: 286px;
    width: 286px;
    position: absolute;
    left: 350px;
    bottom: 450px;
    
}
.plant-lover-container{
    display: flex;
    gap: 60px;
    align-items: center;
}
.plant-lover-img{
    width: 50%;
}
.plant-lover-info{
    padding: 38px 0;
    width: 50%;
}
.plant-lover-info ul li{
    margin: 20px auto;
}


/* latest deals */

.latest-deal-info{
    text-align: center;
    margin: 100px auto;
}
.latest-deal-info p{
    padding: 25px 0 15px;
}
.deals-card-container{
    display: flex;
    gap: 25px;
    align-items: center;
}
.deals-card-left{
    width: 33%;
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}
.deals-card-right{
    width: 67%;
}
.card-left-1{
    background-image:linear-gradient(rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.4)), url(../assets/deal-bloom.png);
    background-size: cover;
    height: 200px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 14px;
    color: #fff;
}
.card-left-1 a,.card-left-2 a{
    color: #fff;
    font-size: 16px;
    font-weight: 500px;
}
.card-left-2{
    background-image:linear-gradient(rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.4)), url(../assets/deal-ana.png);
    background-size: cover;
    font-size: 20px;
    font-weight: bold;
    height: 200px;
    border-radius: 14px;
    color: #fff;
}
.card-left-1,.card-left-2, .card-right{
    display: grid;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.card-left-1 h4,.card-left-2 h4, .card-right h3{
    margin-top: 40%;
   
}
.card-left-1 a,.card-left-2 a, .card-right a {
    margin-bottom: 40%;
}
.card-right{
    background-image:linear-gradient(rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.4)), url(../assets/deal-zabo.png);
    height: 420px;
    border-radius: 22px;
}
 .card-right h3{
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    
} 
.card-right a{
    color: #fff;
    font-size: 28px;
    font-weight: 500px;
}

/* Join Section */
.join{
    margin-top: 120px;
}
.join-search-bar{
    background-image: url('../assets/news-letter-bg.png');
    background-size: cover;
    color: #fff;
    text-align: center;
    padding: 120px 200px;
}
.join-search-bar input{
    width: 400px;
    height: 50px;
    padding: 15px 20px;
    border: none;
}
.join-search-bar .btn-primary{
    width: 120px;
    padding: 18px 20px ;
    margin-left: -4px;
}















/* Mobile Responsive */
@media screen and (max-width:576px) {
    /* shared items */
     .container{
        width: 425px;
    } 
    .section-title{
        font-size: 24px;
        line-height: 30px;
    }
    .section-description{
        font-size: 14px;
    }
    .btn-primary{
        padding: 10px 20px;
        margin-top: 15px;
    }
    .break{
        display: none;
    }

    /* navbar */
    .navbar{
        margin: 20px 16px;
        align-items: center;
    }
    #home,
    #shop,
    #about-us{
        display: none;
    }
    #cart{
        display: flex;
        align-items: center;  
        font-size: 24px;
        
    }

    /* banner */
    .banner{
        flex-direction: column-reverse;
        
    }
    .banner-info{
        margin: 28px 16px;
    }
    
    .banner-img{
        margin-top: 28px;
        width: 100%;
    }


    /* Our Plants */
    .plants-heading{
        width: 100%;
        margin: 0 auto;

    }
    .plant-card-container{
        grid-template-columns: repeat(2,1fr);
        gap: 39px 20px;
        padding: 0 17px 0 14px;
    }
    .plant-card-info h4,p{
        font-size: 16px;
    }

    /* Plants Lover section */
    #trusted-badge{
        display: none;
    }
    .plant-lover{
        margin-top: 40px;
    }
    .plant-lover-container{
        flex-direction: column;
        gap: 0;
        padding: 0 17px;
        
    }
    .plant-lover-img{
    width: 100%;
    }
    .plant-lover-info{
        padding: 18px 0;
        width: 100%;
    }
    .plant-lover-info ul{
        padding-left: 15px;
    }

    /* Latest deals */
    
    .latest-deals{
        padding: 0 16px;

    }
    .latest-deal-info{

        margin-bottom: 20px;
    }
    .deals-card-container{
        flex-direction: column;
        gap: 20px;
    }
    .deals-card-left{
        width: 100%;
        grid-template-columns: 1fr;
        gap: 20px;
    }
    .card-left-1 a,.card-left-2 a, .card-right a{
        font-weight: 500px;
        font-size: 14px;
    }
    .deals-card-right{
        width: 100%;
    }
    .card-right{
        height: 200px;   
    }
    .card-right h3{
        font-size: 20px;
        font-weight: bold;
    }
    .card-right a{
        margin-top: 10px;
        font-weight: bold;
    }
    /* join section */
    .join-search-bar{
        padding: 50px;
        width: 100%;
    }
    .join-search-bar input{
        width: 200px;
    }
    .join-search-bar .btn-primary{
        width: 100px;
        padding: 18px 30px;
        margin-left: -4px;
    }


}