/* font */
.noto-serif {
  font-family: "Noto Serif", serif;
}
.inter {
  font-family: "Inter", sans-serif;
}

/* shared Styles */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    max-width: 1140px;
    margin: auto;
}
.section-title{
    font-weight: bold;
    font-size: 50px;
    line-height: 60px;
    margin-bottom: 15px;
}
.section-description{
    font-size: 22px;
    color: rgba(0, 0, 0, 0.5);
}
.text-orange{
    color: #E95A08;
}
.text-black{
    color: #252432;
    font-weight: 700px;
}
.btn-primary{
    background-color: #E95A08;
    color: #fff;
    border: none;
    font-weight: 500px;
    padding: 19px 80px;
    width: 100%;
    margin-top: 30px;
}
img{
    width: 100%;
    height: 100%;
}


/* Navbar */
.navbar{
  display: flex;  
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;
}
.navbar ul{
    display: flex;
    gap: 48px;
}
.navbar ul li{
    list-style: none;
}
.navbar ul a{
    text-decoration: none;
}
#shop,#about-us{
    color: #8987A1;
}
#cart{
    color: black;
}

/* banner */
.banner{
    display: flex;
    justify-content: space-between;
    align-items: end;
    padding-top: 96px;
}

/* Our Plants */

.plants-heading{
    text-align: center;
    margin-top: 120px;
    width: 100%;
    padding: 0 16px;

}
.plant-card-container{
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
}
.plant-card{
    text-align: center;
}
.plant-card-img{
    width: 100%;
}
.plant-card-info h4,p{
    font-size: 22px;
    color: #111111;
}
.plant-card-info p{
    padding: 25px 0 15px;
}


/* Plants Lover Section */

.plant-lover{
    margin-top: 200px;
    position: relative;
}
#trusted-badge{
    height: 286px;
    width: 286px;
    position: absolute;
    left: 350px;
    bottom: 450px;
    
}
.plant-lover-container{
    display: flex;
    gap: 60px;
    align-items: center;
}
.plant-lover-img{
    width: 50%;
}
.plant-lover-info{
    padding: 38px 0;
    width: 50%;
}

.plant-lover-info ul li{
    margin: 20px auto;
}
















/* Mobile Responsive */
@media screen and (max-width:576px) {
    /* shared items */
     .container{
        width: 425px;
    } 
    .section-title{
        font-size: 24px;
        line-height: 30px;
    }
    .section-description{
        font-size: 14px;
    }
    .btn-primary{
        padding: 10px 20px;
        margin-top: 15px;

    }

    /* navbar */
    .navbar{
        margin: 20px 16px;
        align-items: center;
    }
    #home,
    #shop,
    #about-us{
        display: none;
    }
    #cart{
        display: flex;
        align-items: center;
        font-size: 24px;
    }

    /* banner */
    .banner{
        flex-direction: column-reverse;
        
    }
    .banner-info{
        margin: 28px 16px;
    }
    
    .banner-img{
        margin-top: 28px;
        width: 100%;
    }


    /* Our Plants */
    .plants-heading{
        width: 100%;
        margin: 0 auto;

    }
    .plant-card-container{
        grid-template-columns: repeat(2,1fr);
        gap: 39px 20px;
        padding: 0 17px 0 14px;
    }
    .plant-card-info h4,p{
        font-size: 16px;
    }

}